Tugas-Pertemuan-2-IAP-AI
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Gambar Konten Otomatis.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt"
            },
            {
              "fieldLabel": "Task Type"
            },
            {
              "fieldLabel": "Api Key"
            },
            {
              "fieldLabel": "Img Url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1120,
        -32
      ],
      "id": "cd95918e-29a4-42cf-9582-e47e7b598030",
      "name": "On form submission",
      "webhookId": "a1f8743b-6831-47e6-a14c-8a17175b6402"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['Api Key'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{ $json['Img Url'] }}\"\n    ],\n    \"prompt\": \"{{$json.prompt}}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        -32
      ],
      "id": "367b646a-1b9a-4ed6-8263-5d0bcc3e0cc3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -704,
        -32
      ],
      "id": "1492a9c0-4011-415b-8f21-e0670661fd80",
      "name": "Wait",
      "webhookId": "ac5755fd-510c-47f1-9b44-c15f2cda205a"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$node[\"HTTP Request\"].json[\"data\"][\"taskId\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"On form submission\"].json[\"Api Key\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -496,
        -32
      ],
      "id": "85ee97d9-dbe3-462f-a303-9c8967ecf770",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b4f58da7-8b2d-4519-abbf-4f3bb55c5f30",
              "leftValue": "success",
              "rightValue": "={{$json.data.state}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        -32
      ],
      "id": "6dae8db6-a917-480f-8a34-dc6c9018bf21",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        128
      ],
      "id": "ffd2e10c-d224-44e7-a61e-b9bf5e9e69aa",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        128
      ],
      "id": "16efec2c-d794-498c-8bc9-53b187eba518",
      "name": "Download Video"
    },
    {
      "parameters": {
        "name": "Video Topik 3",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1vjZjTbIIWKnZzaYIaWfUwOvCu_qAIzOC",
          "mode": "list",
          "cachedResultName": "hasil vidio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vjZjTbIIWKnZzaYIaWfUwOvCu_qAIzOC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        352,
        128
      ],
      "id": "ea83f4cc-c945-42f1-84b2-6ad153cdbff1",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9ZvTYut3gbLoFdJV",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    }
  },
  "pinData": {
    "On form submission": [
      {
        "Prompt": "coba buat vidio dari gambar ini",
        "Task Type": "",
        "Api Key": "52d656c84cb66fc4c513ce63d8f19498",
        "Img Url": "https://drive.google.com/uc?export=download&id=1t5a11XSi5OAujeVAsJX19hAVz3DtYfR5",
        "submittedAt": "2026-04-06T10:23:24.926+07:00",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b820d95aea44a3501e272d443caac53497d28828228573592d1291fa758f898"
  }
}
