Tugas Pertemuan 3 - IAP-AI
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9dbf6a85-d5a7-49b6-9d96-4dbccdf59433",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11YXb_MYEffhMtMWRdPhqIpG6skiMf8-E9RGIMNDxKP8",
          "mode": "list",
          "cachedResultName": "Copy of Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11YXb_MYEffhMtMWRdPhqIpG6skiMf8-E9RGIMNDxKP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11YXb_MYEffhMtMWRdPhqIpG6skiMf8-E9RGIMNDxKP8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "3718438a-516e-45e0-a90a-116eb826da22",
      "name": "Ambil Data Posting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PurLLB2h3AJqXKQI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\n\nconst results = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  console.log(\"ROW:\", row);\n\n  const status = (row.Status || '').trim().toLowerCase();\n  const dateStr = row['Scheduled Date'];\n  const timeStr = row['Scheduled Time'];\n\n  if (status === 'pending' && dateStr && timeStr) {\n\n    const dateTimeString = `${dateStr} ${timeStr}`;\n    const scheduledTime = new Date(dateTimeString);\n\n    console.log(\"TIME:\", scheduledTime);\n\n    // sementara abaikan waktu dulu\n    results.push(item);\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "62b3b279-99e5-4773-b296-137b0d2d029b",
      "name": "Filter Ready Post",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "1143752920",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "61177bf9-eaf2-4fbb-891e-05fe8a05c51b",
      "name": "Send a text message",
      "webhookId": "31d71a4c-4ef7-4dc4-b110-cfed307580e6",
      "credentials": {
        "telegramApi": {
          "id": "R1DkZtmJFeh8KDY6",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1defe22-6735-4e2e-bc96-9a77d19c0cc5",
              "name": "row_number",
              "value": "={{ $('Filter Ready Post').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "97a8fb4b-9ce0-4384-93db-3358bf1cb7fd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11YXb_MYEffhMtMWRdPhqIpG6skiMf8-E9RGIMNDxKP8",
          "mode": "list",
          "cachedResultName": "Copy of Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11YXb_MYEffhMtMWRdPhqIpG6skiMf8-E9RGIMNDxKP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11YXb_MYEffhMtMWRdPhqIpG6skiMf8-E9RGIMNDxKP8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Filter Ready Post').item.json.ID }}",
            "Status": "published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "a99500f0-6e85-4e70-92a5-166e3dee8a95",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PurLLB2h3AJqXKQI",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ambil Data Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Data Posting": {
      "main": [
        [
          {
            "node": "Filter Ready Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Post": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b820d95aea44a3501e272d443caac53497d28828228573592d1291fa758f898"
  }
}
